main>.container {
    padding: 30px 0;
}


/*Color de la barra del productos*/

.navbar {
    background-color: #7c1515;
    border-color: #8a2525;
}


/*Margenes de pagina*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Estilos de textos*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Ajuste de margenes del container*/

.container {
    padding: 60px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/*Ajustes de titulo*/

.titulo {
    color: #6e1a1a;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.titulo-2 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


/*header*/

header {
    width: 100%;
    height: 600px;
    background: #ED213A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(6, 66%, 35%, 0.596), hsla(353, 85%, 53%, 0.596)), url(../img/Portadas/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(6, 66%, 35%, 0.596), hsla(353, 85%, 53%, 0.596)), url(../img/Portadas/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header-prod {
    width: 100%;
    height: 600px;
    background: #ED213A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(6, 66%, 35%, 0.596), hsla(353, 85%, 53%, 0.596)), url(../img/portafolio/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(6, 66%, 35%, 0.596), hsla(353, 85%, 53%, 0.596)), url(../img/portafolio/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


/*nav*/

.navegacion {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    background: #6e1a1a;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
}

.menu li a:hover {
    color: #CE7D35;
    transition: all .3s;
}


/* Submenu*/

.submenu {
    position: absolute;
    background: #6e1a1a;
    width: 120%;
    visibility: hidden;
    opacity: 0.5;
    transition: opacity 2.0s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}


/*configuracion del texto del menu*/

nav>a {
    color: #fff;
    font-weight: 3000;
    text-decoration: none;
    /*separacion de los textos de menu*/
    margin-right: 30px;
}


/*configuracion del texto del menu cuando se selecione*/

nav>a:hover {
    text-decoration: underline;
}


/*Configuracion de text-header*/

header .text-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


/*Configuracion de h1 header*/

.text-header h1 {
    font-size: 50px;
    color: #fff;
}


/*Configuracion de h2 header*/

.text-header h2 {
    font-size: 30px;
    font-weight: 300px;
    color: #fff;
}


/*Configuracion del wase*/

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*about us*/

.container-we {
    display: flex;
    justify-content: space-evenly;
}


/*Congiguracion de image*/

.image {
    width: 48%;
}


/*Configuraciones del texto en container we*/

.container-we .container-tex {
    width: 48%;
}

.container-tex h3 {
    margin-bottom: 15px;
}

.container-tex h3 span {
    background: #6e1a1a;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.container-tex p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/*Galeria*/

.briefcase {
    background: #6e1a1a;
}

.galery-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/*comprimir las imagenes donde las deseamos*/

.image-port {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.image-port>assets>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/*Configuracion del efecto de la imagen a selecionar portafolio*/

.hover-galery {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(0, 0%, 77%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galery img {
    width: 50px;
}

.hover-galery p {
    color: #fff;
}

.image-port:hover .hover-galery {
    transform: scale(1);
}


/*Clients*/

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #6e1a1a;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card>.container-tex-card {
    width: 60%;
    color: #f2f2f2;
}


/*Final de la pagina en contactanos*/

.about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.services-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-ind {
    width: 28%;
    text-align: center;
}

.services-ind img {
    width: 90%;
}

.services-ind h3 {
    margin: 10px 0;
}

.services-ind p {
    font-weight: 300;
    text-align: justify;
}


/*footer*/

footer {
    background: #000000;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.container-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.container-foot {
    text-align: center;
}

.container-foot h4 {
    color: #fff;
    border-bottom: 3px solid #642a73;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.container-foot p {
    color: rgb(255, 255, 255);
}

.titulo-end {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}


/*seccion de los productos */

.wrap {
    width: 800px;
    max-width: 90%;
    margin: 30px auto;
}

ul.tabs {
    width: 100%;
    background: #363636;
    list-style: none;
    display: flex;
}

ul.tabs li {
    width: 18%;
}

ul.tabs li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: block;
    padding: 20px 0px;
}

.active {
    background: #6e1a1a;
}

ul.tabs li a .tab-text {
    margin-left: 8px;
}

.secciones {
    width: 100%;
    background: #fff;
}

.secciones article {
    padding: 30px;
}

.secciones article p {
    text-align: justify;
}

.wrap {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

ul.tabs {
    width: 100%;
    background: #363636;
    list-style: none;
    display: flex;
}

ul.tabs li {
    width: 18%;
}

ul.tabs li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: block;
    padding: 20px 0px;
}

.active {
    background: #6e1a1a;
}

ul.tabs li a .tab-text {
    margin-left: 8px;
}

.secciones {
    width: 100%;
    background: #fff;
}

.secciones article {
    padding: 30px;
}

.secciones article p {
    text-align: justify;
}


/*Prodcutos*/

#header {
    display: flex;
    background-color: blue;
    width: 100%;
}

#carouselExampleIndicators {
    height: 350px;
}

#img {
    height: 350px;
}

#list {
    color: gray;
    font-family: times new roman;
    font-size: 26px;
}

.listado {
    border-bottom: 1px solid gray;
}

#img_obs {
    height: 100px;
}

#desayuno {
    color: #6e1a1a;
}

.modal {
    padding-top: 5%;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    text-align: center;
}

.bodyModal {
    margin: 0px auto;
    width: 50%;
    justify-content: center;
    text-align: center;
    height: 50%;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    display: block;
}

h6 {
    text-align: left;
}

#min {
    color: #6F777C;
}

#boton {
    text-align: left;
    align-items: left;
    align-content: left;
}

#tex_area {
    width: 100%;
}

#cuerpo {
    display: flex;
}

.icon {
    color: #ECA739;
    margin-right: 3px;
}

#cont {
    background-color: #F9305D;
}

#titulo {
    color: white;
    font-family: arial;
    font-size: 40px;
}

#titulo2 {
    margin-top: 10px;
    color: #6e1a1a;
    font-family: arial;
    font-size: 25px;
    margin-bottom: 10px;
}

#img_footer {
    height: 100px;
    border-radius: 100px;
    transition: transform 0.6s;
}

#img_footer:hover {
    transform: scale(1.3);
    cursor: pointer;
}

#img_footer2 {
    height: 150px;
    width: 80%;
    border-radius: 150px;
    transition: transform 0.5s;
}

#img_footer2:hover {
    transform: scale(1.4);
    cursor: pointer;
}

#mensajito {
    color: white;
    font-size: 17px;
    width: 40%;
    margin: 0px auto;
}

#mensajito2 {
    color: black;
    font-size: 15px;
}

#contenido {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 700px) {
    ul.tabs li {
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }
}

@media screen and (max-width: 450px) {
    ul.tabs li a {
        padding: 15px 0px;
    }
    ul.tabs li a .tab-text {
        display: none;
    }
    .secciones article {
        padding: 20px;
    }
}


/*Aplicacion para dispositivos moviles*/

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }
    .container-we {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-we .container-tex {
        width: 90%;
    }
    .image {
        width: 90%;
    }
    .image-port {
        width: 44%;
    }
}